<div class="page-width" data-section-id="{{ section.id }}" data-section-type="cart-template" data-ajax-enabled="{{ section.settings.cart_ajax_enable }}">
  <div class="cart-header">
    <h1 class="cart-header__title">{{ 'cart.general.title' | t }}</h1>
  </div>

  {% if cart.item_count > 0 %}
    <form action="{{ routes.cart_url }}" method="post" novalidate class="cart">
      <table class="cart-table responsive-table">
        <thead class="cart__row cart__header">
          <th colspan="2">{{ 'cart.label.product' | t }}</th>
          <th>{{ 'cart.label.price' | t }}</th>
          <th class="text-center">{{ 'cart.label.quantity' | t }}</th>
          <th class="text-right">{{ 'cart.label.total' | t }}</th>
        </thead>
        <tbody>
          {% for item in cart.items %}
            <tr class="cart__row responsive-table__row">
              <td class="cart__cell--image">
                <a href="{{ item.url }}">
                  <img src="{{ item | image_url: width: 240 }}" alt="{{ item.title | escape }}">
                </a>
              </td>
              <td>
                <a href="{{ item.url }}" class="h4 cart__product-title">{{ item.product.title }}</a>
                {%- unless item.product.has_only_default_variant -%}
                  <p>{{ item.variant.title }}</p>
                {%- endunless -%}
                
                <p class="cart__remove">
                  <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="text-link text-link--accent">{{ 'cart.general.remove' | t }}</a>
                </p>
              </td>
              <td data-label="{{ 'cart.label.price' | t }}">
                {{ item.original_price | money }}
              </td>
              <td data-label="{{ 'cart.label.quantity' | t }}" class="text-center">
                <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" data-id="{{ item.key }}">
              </td>
              <td data-label="{{ 'cart.label.total' | t }}" class="text-right">
                {{ item.original_line_price | money }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="cart__footer">
        <div class="grid">
          <div class="grid__item text-right">
            <div>
              <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
              <span class="cart__subtotal">{{ cart.total_price | money }}</span>
            </div>
            <div class="cart__shipping rte">{{ 'cart.general.shipping_at_checkout' | t }}</div>
            
            <div class="cart__submit-controls">
              <input type="submit" name="update" class="btn btn-outline cart__submit" value="{{ 'cart.general.update' | t }}">
              <input type="submit" name="checkout" class="btn btn-primary cart__submit" value="{{ 'cart.general.checkout' | t }}">
            </div>
          </div>
        </div>
      </div>
    </form>
  {% else %}
    <div class="empty-page-content text-center">
      <p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>
      <div class="cookie-message">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
      <a href="{{ routes.all_products_collection_url }}" class="btn btn-primary">
        {{ 'general.404.link' | t }}
      </a>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Cart page",
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_ajax_enable",
      "label": "Enable automatic cart updates",
      "info": "Updates the cart as soon as customer changes are made",
      "default": true
    }
  ]
}
{% endschema %}